{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in Instagram</title>

  <link rel="stylesheet" href="{% static 'accounts/style.css' %}">

</head>

<body>

  <div id="content-container">

    <section class="phones">
      <img src="{% static 'images/phones.png' %}" alt="pictures on phone" class="phone-image">
      <div class="display-phone">
        <img class="picture" src="{% static 'images/photo-1.png' %}" alt="#">
        <img class="picture" src="{% static 'images/photo-2.png' %}" alt="#">
        <img class="picture" src="{% static 'images/photo-3.png' %}" alt="#">
        <img class="picture" src="{% static 'images/photo-4.png' %}" alt="#">
        <img class="picture" src="{% static 'images/photo-5.png' %}" alt="#">
      </div>
    </section>

    <section class="user">

      <div class="login-container">

        <div class="instagram-logo-box">
          <img class="instagram-logo" src="{% static 'images/instagram-logo.png' %}">
        </div>

        <form id="login-post" action="{% url 'login' %}" method="post">
            {% csrf_token %}
          <div class="inputs-container">
            <input type="text" name="username" placeholder="Username">
          </div>
          <div class="inputs-container">
            <input type="password" name="password" placeholder="Password">
          </div>
          <button type="submit" class="login-button">Log In</button>

          <div class="or-container">
            <div class="line"></div>
            <div class="or">OR</div>
            <div class="line"></div>
          </div>

          <div class="facebook-container">
            <a class="facebook-login" href="#" target="_blank"><img class="facebook-logo"
                src="{% static 'images/facebook-logo.png' %}">Log in
              with Facebook</a>
          </div>
        </form>

        <a class="password-forgot" href="#" target="_blank">Forgot password?</a>
      </div>

      <div class="signup-container">
        <p>Don't have an account? <a class="signup" href="{% url 'register' %}" target="_blank">Sign up</a></p>
      </div>

      <div class="get-container">
        <p>Get the app.</p>
        <div class="download-container">
          <a class="download-appstore" href="#" target="_blank"><img class="appstore"
              src="{% static 'images/applestore-logo.png' %}"></a>
          <a class="download-googleplay" href="#" target="_blank"><img class="googleplay"
              src="{% static 'images/googleplay-logo.png' %}"></a>
        </div>
      </div>

    </section>

  </div>

  <footer class="page-footer">

    <div class="links-container">
      <ul class="links-list">
        <li>
          <a class="link" href="#" target="_blank">ABOUT</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">PRESS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">API</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">JOBS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">PRIVACY</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">TERMS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">LOCATIONS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">TOP ACCOUNTS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">HASHTAGS</a>
        </li>
        <li>
          <a class="link" href="#" target="_blank">LANGUAGE</a>
        </li>
      </ul>
    </div>

    <div class="footer-span-container">
      <span class="footer-span">
        © 2020 INSTAGRAM FROM FACEBOOK
      </span>
    </div>
  </footer>
</body>

</html>
