{% load bootstrap5 %}
<div class="col-sm-12 col-md-8 offset-md-2 mb-5 mt-5 p-0 post-container">
    <a href="{% with user=publication.get_author %}{% url 'profile' user.pk %}{% endwith %}"
       style='color: inherit;text-decoration: inherit;'>
        <div class="media pt-3 pl-3 pb-1">
            <img class="mr-3 rounded-circle" height="35" width="38" src="{{ publication.get_author.avatar.url }}"
                 alt="{{ publication.get_author.username }}">
            <div class="media-body">
                <p style="margin-top: 5px;">{{ publication.get_author.username }}</p>
            </div>
        </div>
    </a>
    <a href="{% url 'publication' publication.pk %}">
        <img style="width: 100%;" src="{{ publication.image.url }}" alt="{{ publication.image }}">
    </a>
    {% if request.user not in publication.get_all_likes %}
        <p class="mt-1 ml-2">
            <a href="{% url 'like' publication.pk %}" class="text-decoration-none"
               style="color: #000; font-size: 20px;">
                <i class="far fa-heart"></i>
            </a><b>{{ publication.get_all_likes.count }} Отметок "Нравится"</b>
        </p>
    {% else %}
        <p class="mt-1 ml-2">
            <a href="{% url 'remove_like' publication.pk %}" class="text-decoration-none"
               style="color: #000; font-size: 20px;">
                <i class="bi bi-heart-fill"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="currentColor"
                     class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
            </a><b>{{ publication.get_all_likes.count }} Отметок "Нравится"</b>
        </p>
    {% endif %}
    <p class=" ml-1 mr-1 mb-2">
        <b> {{ publication.get_author }}</b> <small class="text-break">{{ publication.description }} </small>
    </p>
        {% for comment in publication.comments.all %}
    <p class=" ml-1 mr-1 mb-2">
        <a href="{% url 'profile' comment.user.pk %}" class="text-decoration-none"
           style="color: black"><b> {{ comment.user.username }}</b></a> <small
            class="text-break">{{ comment.text }} </small>
    </p>
        {% endfor %}
    <p class=" ml-1 mr-1 mb-2">
    <form action="{% url 'comment' publication.pk %}" method="post">
        {% csrf_token %}
        <div class="form-control d-flex justify-content-between" style="background-color: white; height: 50px">
            <input name="text" placeholder="Добавьте комментарий..." class="input-group border-0 shadow-none ml-2 mr-2 comment-input">
            <button type="submit" class="publish-submit">Опубликовать</button>
        </div>
    </form>
    </p>
</div>